<% content_for :title, @post.title %>
<%= turbo_stream_from @post %>
<div class="container mx-auto px-4 py-8 max-w-4xl">
  <% if notice %>
    <p class="mb-4 p-3 bg-green-100 border border-green-400 text-green-700 rounded"><%= notice %></p>
  <% end %>
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 mb-6">
    <%= render @post %>
  </div>
  <div class="flex flex-wrap gap-4 mb-8">
    <%= link_to "Edit this post",
    edit_post_path(@post),
    class:
      "bg-blue-500 dark:bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-600 dark:hover:bg-blue-700 transition duration-200" %>
    <%= link_to "Back to posts",
    root_path,
    class:
      "bg-gray-500 dark:bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-600 dark:hover:bg-gray-700 transition duration-200" %>
    <%= button_to "Destroy this post",
    @post,
    method: :delete,
    class:
      "bg-red-500 dark:bg-red-600 text-white px-4 py-2 rounded hover:bg-red-600 dark:hover:bg-red-700 transition duration-200 cursor-pointer",
    data: {
      turbo_confirm: "Are you sure?",
    } %>
  </div>
  <%= render "comments/comments", post: @post %>
</div>
